
page-home {
    ion-content{

        h1{
            position: relative;
            text-align: center;
            font-size: 50px;
            top: 20%;
            left: 0px;
            right: 0px;
            color: darkblue;
        }

        #buttons{
            position: relative;
            top: 25%;
            text-align: center;
        }
        #gameCanvas{
            position: fixed;
            top:0px;
            left:0px;
        }

        #scoreid{
            color: white;
            position: fixed;
            right: 30px;
            top: 10px;
            font-size: 28px;
        }

    }


    // #back{
        // background-color: #111111;
    // }

}
